footer
    .footer
        .footer__logo
            img(src=require('../../img/logo.png'))
            p
                |Lorem ipsum dolor sit amet
                br
                |consectetur adipiscing elit aliquam
                br
                |eget nullam pellentesque aliquam
                br
                |curabitur cociis.
        .footer__navigation
            h3 Navigation
            ul
                li
                    a(href="#") About Us
                li
                    a(href="#") News
                li
                    a(href="#") Support
                li
                    a(href="#") Products
        .footer__about
            h3 About
            ul
                li
                    a(href="#") Who we are
                li
                    a(href="#") Our team
                li
                    a(href="#") Careers
                li
                    a(href="#") Investors
        .footer__about
            h3 Support
            ul
                li
                    a(href="#") Documentation
                li
                    a(href="#") Community
                li
                    a(href="#") Get in Touch
        .footer__subcribe
            h3 Subscribe to our newsletter
            p
                | Receive our latest news and
                br
                | promotions in your inbox!
            .footer__subcribe-email
                input(type="text" placeholder="Your email address")
                button
                    i.material-icons arrow_forward
.copyright
    .copyright__item
        .copyright__item-info
            p Copyright © 2018 Toxin UI Kit. All rights reserved.
        .copyright__item-social
            a(href="#")
                i.fab.fa-twitter
            a(href="#")
                i.fab.fa-facebook-square
            a(href="#")
                i.fab.fa-instagram
