.creative
    .creative__items
        .creative__items-logo
            img(src=require('../../img/logo.png'))
        .creative__items-info
            p
                |Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget
                br
                |nullam pellentesque aliquam curabitur cociis.
        .creative__items-social
            a(href="#")
                i.fab.fa-twitter
            a(href="#")
                i.fab.fa-facebook-square
            a(href="#")
                i.fab.fa-instagram