header
    .header
        .header__logo
            img(src=require('../../img/logo.png'))
        nav.header__menu
            ul
                li
                    a.active(href='#') Home
                li
                    a(href='#') About Us
                li
                    a(href='#') Services
                    i.material-icons keyboard_arrow_down
                li
                    a(href='#') Careers
                li
                    a(href='#') News
                li
                    a(href='#') Documentation
        .header__btn-login Login
        .header__btn-register Register


header
    .header
        .header__logo
            img(src=require('../../img/logo.png'))
        nav.header__menu
            ul
                li
                    a.active(href='#') Home
                li
                    a(href='#') About Us
                li
                    a(href='#') Services
                    i.material-icons keyboard_arrow_down
                li
                    a(href='#') Careers
                li
                    a(href='#') News
                li
                    a(href='#') Documentation
        .header__loged
            a(href='#') Cosmin Negoita