block variables

doctype html
html(lang="en")
    head
        title= pageTitle
    body
        img.logo(src=require('./../img/main-logo.svg'))
        include ../modules/header
        include ../modules/footer
        block content